<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.example.pokemongame.controller.Servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManagerServlet</servlet-name>
        <servlet-class>com.example.pokemongame.controller.Servlet.ManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerServlet</servlet-name>
        <url-pattern>/managerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/kaptcha.jpg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PokemonServlet</servlet-name>
        <servlet-class>com.example.pokemongame.controller.Servlet.PokemonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PokemonServlet</servlet-name>
        <url-pattern>/pokemonServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginOrRegistServlet</servlet-name>
        <servlet-class>com.example.pokemongame.controller.Servlet.LoginOrRegistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginOrRegistServlet</servlet-name>
        <url-pattern>/loginOrRegistServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>com.example.pokemongame.controller.Filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/pages/user/announcement.jsp</url-pattern>
        <url-pattern>/pages/user/main.jsp</url-pattern>
        <url-pattern>/pages/user/otheruser.jsp</url-pattern>
        <url-pattern>/pages/user/otheruser_pokemon_list.jsp</url-pattern>
        <url-pattern>/pages/user/pokemon_in_bag.jsp</url-pattern>
        <url-pattern>/pages/user/pokemon_to_battle.jsp</url-pattern>
        <url-pattern>/pages/user/signInRecord.jsp</url-pattern>
        <url-pattern>/pages/user/user_info_list.jsp</url-pattern>
        <url-pattern>/pages/user/user_info_update.jsp</url-pattern>
        <url-pattern>/pages/pokemon/pokemon_field.jsp</url-pattern>
        <url-pattern>/pages/pokemon/battle.jsp</url-pattern>
        <url-pattern>/pages/pokemon/main.jsp</url-pattern>
        <!--        <url-pattern>/pages/manager/pokemon_field.jsp</url-pattern>-->
        <url-pattern>/userServlet</url-pattern>
        <url-pattern>/pokemonServlet</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ManagerFilter</filter-name>
        <filter-class>com.example.pokemongame.controller.Filter.ManagerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ManagerFilter</filter-name>
        <url-pattern>/pages/manager/announcement_edit.jsp</url-pattern>
        <url-pattern>/pages/manager/login_success.jsp</url-pattern>
        <url-pattern>/pages/manager/pokemon_edit.jsp</url-pattern>
        <url-pattern>/pages/manager/pokemon_upgrade_rule.jsp</url-pattern>
        <url-pattern>/pages/manager/user_list.jsp</url-pattern>
        <url-pattern>/pages/manager/user_offline.jsp</url-pattern>
        <url-pattern>/pages/manager/user_online.jsp</url-pattern>
        <url-pattern>/pages/manager/user_pokemon_list.jsp</url-pattern>
        <url-pattern>/pages/manager/pokemon_list.jsp</url-pattern>
        <url-pattern>/managerServlet</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>TransactionFilter</filter-name>
        <filter-class>com.example.pokemongame.controller.Filter.TransactionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TransactionFilter</filter-name>
        <!-- /* 表示当前工程下所有请求 -->
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <error-page>
        <error-code>500</error-code>
        <location>/pages/error/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/pages/error/error404.jsp</location>
    </error-page>
    <listener>
        <listener-class>com.example.pokemongame.controller.Listener.UserListener</listener-class>
    </listener>
</web-app>